<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/app.js" type="text/javascript"></script>
    <title>Hangman!</title>

</head>
<body>

<section class="game">
    <h1>Hangman.</h1>
    <span class="word"></span>
    <input type="text" class="letter-input" maxlength="1" />
    <button class="guess" disabled="true">Guess</button>
    <button class="new-game">New Game</button>
    <span class="guesses"></span>
    <span class="remaining"></span>
    <span class="status"></span>

</section>



</body>
</html>